# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

*.pb.go

# Python generated proto files
*_pb2.py
*_pb2_grpc.py
__pycache__/
coverage-*
default.etcd/

# etcd downloads
etcd-*.tar.gz
etcd-*/

# Compiled example binaries
persistence
periodic_persistence
custom_stability_duration
minquorum
demo-server
.venv/
*.log
*.zip
.vscode/**

# Inspector demo binary
demo
inspector
pgadmin
